{% extends 'base.html' %}

<!-- Humanize Functionality -->
{% load humanize %}

{% block title %} | Roster Area{% endblock %}

{% block content %}
<section id="showcase-inner" class="text-white bg-dark">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4 py-4">Roster Area.</h1>
        <p class="lead">Explore our talent below.</p>
      </div>
    </div>
  </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}"> <i class="fas fa-home"></i></a>
        </li>
        <li class="breadcrumb-item active">Browse Listings</li>
      </ol>
    </nav>


    <!-- PAGINATION SECTION -->
    <!-- FORMATTED WITH BOOTSTRAP AND JINJA SYNTAX -->
    <div class="row mb-5">
      <div class="col-md-12">
        <!-- Adds a If Statement for Pagination -->
        {% if artists.has_other_pages %}
        <ul class="pagination">
          {% if artists.has_previous %}
          <li class="page-item">
            <!-- Current page and parameter of page (?) with ampersand for arrows LEFT (&laquo) -->
            <a href="?page={{artists.previous_page_number}}" class="page-link">&laquo;</a>
          </li>
          {% else %}
          <!-- Disabled Arrow Link -->
          <li class="page-item diaabled">
            <a class="page-link">&laquo;</a>
          </li>
          {% endif %}
          <!-- Links to those pages and loop through the page range -->
          {% for i in artists.paginator.page_range %}
          <!-- If artist.number is equal to index then active link -->
          {% if artists.number == i %}
          <li class="page-item active">
            <a class="page-link">{{i}}</a>
          </li>
          {% else %}
          <li class="page-item">
            <a href="?page={{i}}" class="page-link">{{i}}</a>
          </li>
          {% endif %} {% endfor %}
          <!-- Next Arrow -->
          {% if artists.has_next %}
          <li class="page-item">
            <!-- Current page and parameter of page (?) with ampersand for arrows RIGHT (&raquo) -->
            <a href="?page={{artists.next_page_number}}" class="page-link">&raquo;</a>
          </li>
          {% else %}
          <!-- Disabled Arrow Link -->
          <li class="page-item diaabled">
            <a class="page-link">&raquo;</a>
          </li>
          {% endif %}
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<!-- Roster -->
<section id="listings" class="pb-4 mb-5">
  <div class="container">
    <div class="row">
      <!-- Looping through the artists that the "context" is connected to artists and views.py -->
      <!-- Can use Jinja syntax on the looping inside percentages and curly braces -->
      <!-- Else if col included if no listings is included in the database -->
      <!-- Used a for loop to proceed through the database -->

      {% if artists %} {% for artist in artists %}
      <!-- Listing 1 -->
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="card listing-preview">
          <img class="card-img-top" src="{{ artist.photo_main.url }}" alt="" />
          <div class="card-img-overlay">
            <h2>
              <!-- Humanize feature to create comma with "intcomma" -->
              <span class="badge badge-secondary text-white">€{{ artist.price | intcomma }}</span>
            </h2>
          </div>
          <div class="card-body">
            <div class="listing-heading">
              <!-- Replacing all static data with dynamic data -->
              <h4 class="text-primary">{{artist.title}}</h4>
            </div>
            <hr />
            <div class="row py-2 text-dark">
              <div class="col-6">
                <i class="fas fa-user-friends"></i> Party of: {{artist.party}}
              </div>
              <div class="col-6">
                <i class="fas fa-plane"></i> Flights {{artist.flights}}
              </div>
            </div>
            <div class="row py-2 text-dark">
              <div class="col-6">
                <i class="fas fa-city"></i> {{artist.city}}
              </div>
              <div class="col-6">
                <i class="fas fa-globe"></i>
                <a href="{{ artist.site }}"> Artist Website</a>
              </div>
            </div>
            <hr />
            <div class="row py-2 text-dark">
              <div class="col-8">
                <i class="fas fa-user"></i> {{ artist.agent}}
              </div>
            </div>
            <div class="row text-dark pb-4">
              <div class="col-12 text-success">
                <!-- Humanize Features of "timesince" in Settings.py -->
                <i class="fas fa-clock"></i> Member : {{artist.list_date | timesince }}
              </div>
            </div>
            <hr />
            <a href="{% url 'artist' artist.id %}" class="btn btn-success btn-block">More Info</a>
          </div>
        </div>
      </div>
      {% endfor %} {% else %}
      <div class="col-md-12 text-center">
        <div class="lead">No Roster Currently.</div>
        {% endif %}
      </div>
    </div>
</section>
{% endblock %}