<!-- Jinja Extenstion syntax -->
{% extends 'base.html' %}

{% load static %}

{% block title %} | Agent Area{% endblock %}

{% block content %}
<!-- Breadcrumb -->
<!-- <section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"> -->
          <!-- Urls.py uses this -->
          <!-- <a href="{% url 'index' %}">
            <i class="fas fa-home"></i></a>
        </li>
        <li class="breadcrumb-item active"> Agents</li>
      </ol>
    </nav>
  </div>
</section> -->

<section id="about" class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-center">
        <img src="{% static 'img/about.gif' %}" alt="">
        <p class="mt-5">Area Agency is an artist management company based in Los Angeles, California. With a history of
          working with international acts, we have developed a reputation as an artist-friendly company whose main focus
          is always on providing high quality performers with a platform to develop their careers and to assist them in
          reaching a larger audience internationally. <br>
          <hr>
          Our approach to every artist we work with is to offer a broad representation service which covers each element
          of the artist’s recording and performing career including executive production of the recording process,
          negotiation and development of relationships with record labels, digital distributors, publishing companies,
          and booking agents worldwide.
      </div>
      <div class="col-md-4">
        <!-- Checking for agent of the month -->
        {% if mvp_agents %}
        {% for agent in mvp_agents %}
        <div class="card">
          <img class="card-img-top img-thumbnail" src="{{ agent.photo.url }}" alt="Seller of the month">
          <div class="card-body">
            <h5 class="card-title">Agent Of The Month</h5>
            <h6 class="text-secondary">{{ agent.name }}</h6>
            <p class="card-text">{{agent.description}}
            </p>
          </div>
        </div>

        {% endfor %}
        {% endif %}

      </div>
    </div>
  </div>
</section>

<!-- Once again a simliar process using the views to pass through the context of information and then updating using Jinja syntax to create a for loop and pass through the information from the database -->

<!-- Database information is "agent.value" -->

<!-- Team -->
<section id="team" class="py-5">
  <div class="container">
    <div class="row text-center">
      {% if agents %}
      {% for agent in agents %}
      <div class="col-md-4">
        <img src="{{ agent.photo.url }}" alt="" class="mb-5 img-thumbnail">
        <h4>{{agent.name}}</h4>
        <p class="text-success">
          <i class="fas fa-award text-success mb-3"></i> Area Agent since {{agent.hire_date | timesince }}</p>
        <p>
          <i class="fas fa-phone"></i> {{agent.phone}} <br>
          <i class="fas fa-envelope-open"></i> {{agent.email}}</p>
        <hr>
      </div>
      {% endfor %}
      {% else %}
      <div class="col-md-12">
        <p>No Agents Currently Available</p>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}