<!-- Jinja Extenstion syntax -->
{% extends 'base.html' %} {% load static %}

<!-- Loads Django "timesince" atrrribute -->
{% load humanize %}

<!-- Tab Title Load -->
{% block title %} | Home Area {% endblock %}

{% block content %}

<!-- Alerts Error Function -->
{% include 'partials/_alerts.html' %}

<!-- Showcase and Search Area -->
<section id="showcase">
  <div class="container bg-success rounded">
    <div class="home-search p-4">
      <div class="overlay p-4 rounded">
        <h1 class="display-4 mb-4 p-1">
          This is Area Agency. <br> A website for promoters.
        </h1>
        <p class="lead">World class artists ready to be booked at the touch of your fingertips.</p>
        <div class="search">
          <form action="{% url 'search' %}">
            <!-- Keyword and City Search-->
            <!-- <div class="form-row">
              <div class="col-md-6 mb-3">
                <input type="text" name="keywords" class="form-control" placeholder="Keywords"
                  value="{{values.keywords}}">
              </div>
              <div class="col-md-6 mb-3">
                <input type="text" name="city" class="form-control" placeholder="City" value="{{values.city}}">
              </div>
            </div> -->
            <!-- Artist Search -->
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <select name="title" class="form-control">
                  <option selected="true" disabled="enabled">Talent (All)</option>
                  {% for key, value in artists_choices.items %}
                  <!-- Messy code for keeping values in search -->
                  <option value="{{key}}" {% if key == values.title %} selected {% endif %}>{{ value }}</option>
                  {% endfor %}
                </select>
              </div>
              <!-- Fee Search -->
              <div class="col-md-6 mb-3">
                <select name="price" class="form-control">
                  <option selected="true" disabled="disabled">Max Fee (All)</option>
                  {% for key, value in price_choices.items %}
                  <!-- Messy code for keeping values in search -->
                  <option value="{{key}}" {% if key == values.price %} selected {% endif %}>{{ value }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <button class="btn btn-secondary btn-block mt-4" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
</section>

<!-- Services of COVID, Contracts Etc -->
<section id="services" class="py-2 bg-secondary text-white">
  <div class="container p-4">
    <div class="row">
      <div class="col-md-4">
        <i class="fas fa-user-nurse fa-4x mr-4"></i>
        <hr class="bg-white">
        <p class="">What is happening with Area Agency and the COVID situation? We have our artists and promoters
          covered with our comprehensive packages.</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-users fa-4x mr-4"></i>
        <hr class="bg-white">
        <p>The artist of Area Agency. We have stellar calibre of acts from all over the world. We are always on the move
          with expansion and hoping to to make more connections soon!</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-file-contract fa-4x mr-4"></i>
        <hr class="bg-white">
        <p>Promoters are worried about the expenses. We have extensive contracts and negoations to be the middle person
          and create balance between.</p>
      </div>
    </div>
  </div>
</section>

<!-- Bg Image (Should be working with overlay but thanks to Django its a no.) -->
<img src="{% static 'img/showcase.jpeg' %}" alt="" />
{% endblock %}